* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*------FONTS-----*/
@font-face {
  font-family: 'Inter';
  src: url(SRC/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(SRC/fonts/Roboto/);
}

/*--------------------*/
html {
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 1120px;
  min-height: 100px;
  margin: 0 auto;
}

a {
  color: black;
}

.header .header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__row .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__row .header__logo .logo {
  width: 100px;
  height: 80px;
}

.header .header__row .header__logo .logoText {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
}

.header .header__row .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.header .header__row .nav .navi {
  margin-left: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.main {
  margin-top: 120px;
}

.main .main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main__row .left {
  margin-top: 85px;
  width: 50%;
}

.main .main__row .left .title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}

.main .main__row .left .desc {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-top: 60px;
}

.main .main__row .left .button {
  background: #EF3959;
  -webkit-box-shadow: 0px 0px 40px rgba(239, 57, 89, 0.4);
          box-shadow: 0px 0px 40px rgba(239, 57, 89, 0.4);
  border-radius: 72px;
  -webkit-filter: drop-shadow(0 0 3px #EF3959);
          filter: drop-shadow(0 0 3px #EF3959);
  font-family: 'Inter';
  font-style: normal;
  color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 16px 32px;
  margin-top: 64px;
}

.main .main__row .right {
  width: 50%;
  position: relative;
  padding-bottom: -500px;
}

.main .main__row .right .servers {
  position: relative;
  z-index: 2;
  left: 153px;
  width: 256px;
  height: 256px;
  border-radius: 130px;
  background-color: white;
  border: 0.6px solid rgba(239, 57, 89, 0.3);
  -webkit-box-shadow: 4px 4px 15px 0px rgba(239, 57, 89, 0.5);
          box-shadow: 4px 4px 15px 0px rgba(239, 57, 89, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main__row .right .servers * {
  -webkit-filter: drop-shadow(0 0 0 0);
          filter: drop-shadow(0 0 0 0);
}

.main .main__row .right .servers p:nth-child(1) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin-top: 64px;
}

.main .main__row .right .servers p:nth-child(2) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #EF3959;
  margin-top: 7px;
}

.main .main__row .right .save {
  position: absolute;
  left: 462px;
  top: -10px;
  width: 96px;
  height: 122px;
  background: #4A86FF;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main__row .right .save .title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  margin-top: 16px;
}

.main .main__row .right .save .price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: white;
  margin-top: 32px;
}

.main .main__row .right .countries {
  position: absolute;
  top: 225px;
  left: 5px;
  width: 160px;
  height: 160px;
  border-radius: 130px;
  background-color: white;
  -webkit-box-shadow: -5px 7px 20px rgba(74, 134, 255, 0.3);
          box-shadow: -5px 7px 20px rgba(74, 134, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main__row .right .countries p:nth-child(1) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-top: 47px;
}

.main .main__row .right .countries p:nth-child(2) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #EF3959;
  margin-top: 8px;
}

.main .main__row .right .speed {
  position: absolute;
  z-index: 1;
  left: 300px;
  top: 145px;
  width: 256px;
  height: 256px;
  border: 1px solid #EF3959;
  border-radius: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main__row .right .speed .desc {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #4A86FF;
  margin-top: 16px;
}

.main .main__row .right .speed .desc:nth-child(1) {
  margin-top: 72px;
}

.main .main__row .right .speed .count {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  margin-top: 16px;
}

.main .main__row .right .guarantee {
  position: absolute;
  z-index: 2;
  left: 180px;
  top: 318px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 192px;
  height: 192px;
  border-radius: 135px;
  background-color: white;
  border: 1;
  border-top: 0.6px solid rgba(164, 194, 255, 0.9);
  border-left: 0.6px solid rgba(164, 194, 255, 0.9);
  -webkit-filter: drop-shadow(2px 2px 5px #a4c2ff);
          filter: drop-shadow(2px 2px 5px #a4c2ff);
}

.main .main__row .right .guarantee p {
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #4A86FF;
}

.main .main__buttons {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main__buttons .button {
  width: 64px;
  height: 64px;
  border-radius: 135px;
  -webkit-box-shadow: 0px 0px 20px rgba(74, 134, 255, 0.4);
          box-shadow: 0px 0px 20px rgba(74, 134, 255, 0.4);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main__buttons .button:nth-child(1) {
  margin-right: 16px;
}

.main .main__buttons .button:nth-child(2) {
  margin-left: 16px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.supportable {
  margin-top: 67px;
}

.supportable .supportable__border {
  margin: 0 auto;
  max-width: 760px;
  border-radius: 34px;
  background: #4a86ff;
  background: -webkit-gradient(linear, left top, right top, from(#4a86ff), color-stop(49%, rgba(132, 127, 135, 0)), to(#ef3959));
  background: linear-gradient(90deg, #4a86ff 0%, rgba(132, 127, 135, 0) 49%, #ef3959 100%);
  padding: 3px;
}

.supportable .supportable__border .supportable__row {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 32px;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
}

.supportable .supportable__border .supportable__row .title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 33px;
}

.supportable .supportable__border .supportable__row .OSs {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.supportable .supportable__border .supportable__row .OSs img {
  margin-left: 30px;
}

.supportable .supportable__border .supportable__row .OSs img:nth-child(1) {
  margin-left: 0px;
}

.privacy {
  margin-top: 120px;
}

.privacy .privacy__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.privacy .privacy__row .left {
  margin-top: 85px;
  width: 50%;
}

.privacy .privacy__row .left .title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}

.privacy .privacy__row .left .desc {
  margin-top: 32px;
  color: #0D224E;
}

.privacy .privacy__row .left .desc p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-top: 5px;
}

.privacy .privacy__row .left .button {
  background: #EF3959;
  -webkit-box-shadow: 0px 0px 40px rgba(239, 57, 89, 0.4);
          box-shadow: 0px 0px 40px rgba(239, 57, 89, 0.4);
  border-radius: 72px;
  -webkit-filter: drop-shadow(0 0 1px #EF3959);
          filter: drop-shadow(0 0 1px #EF3959);
  font-family: 'Inter';
  font-style: normal;
  color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 16px 32px;
  margin-top: 45px;
}

.privacy .privacy__row .right {
  position: relative;
  margin-top: 30px;
}

.privacy .privacy__row .right .location, .privacy .privacy__row .right .content, .privacy .privacy__row .right .ads, .privacy .privacy__row .right .privately {
  position: absolute;
  border-radius: 135px;
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 5px;
}

.privacy .privacy__row .right .location, .privacy .privacy__row .right .content {
  width: 192px;
  height: 192px;
}

.privacy .privacy__row .right .location {
  background: #A4C2FF;
  -webkit-box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
          box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
  color: white;
  left: 186px;
  top: 72px;
  z-index: 1;
}

.privacy .privacy__row .right .content {
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
          box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  color: #4A86FF;
  left: 75px;
  top: 200px;
  z-index: 2;
}

.privacy .privacy__row .right .privately {
  background: #4A86FF;
  -webkit-box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
          box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
  color: white;
  left: 200px;
  top: 325px;
  z-index: 1;
}

.privacy .privacy__row .right .ads {
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
          box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  color: #4A86FF;
  left: 392px;
  top: 245px;
}

.tryitfree {
  margin-top: 256px;
}

.tryitfree .tryitfree__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tryitfree .tryitfree__row .left {
  width: 50%;
}

.tryitfree .tryitfree__row .left .title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin-top: 10px;
}

.tryitfree .tryitfree__row .left .desc {
  width: 85%;
  margin-top: 32px;
  color: #0D224E;
}

.tryitfree .tryitfree__row .left .desc p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-top: 5px;
}

.tryitfree .tryitfree__row .right {
  max-width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.tryitfree .tryitfree__row .right .title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #4A86FF;
}

.tryitfree .tryitfree__row .right .EMAIL {
  width: 100%;
  border-bottom: 1px solid #A4C2FF;
  font-size: 30px;
  font-family: 'Inter';
  margin-top: 60px;
  color: #A4C2FF;
  background: transparent;
}

.tryitfree .tryitfree__row .right .EMAIL::-webkit-input-placeholder {
  font-size: 30px;
  font-family: 'Inter';
  margin-top: 60px;
  color: #A4C2FF;
}

.tryitfree .tryitfree__row .right .EMAIL:-ms-input-placeholder {
  font-size: 30px;
  font-family: 'Inter';
  margin-top: 60px;
  color: #A4C2FF;
}

.tryitfree .tryitfree__row .right .EMAIL::-ms-input-placeholder {
  font-size: 30px;
  font-family: 'Inter';
  margin-top: 60px;
  color: #A4C2FF;
}

.tryitfree .tryitfree__row .right .EMAIL::placeholder {
  font-size: 30px;
  font-family: 'Inter';
  margin-top: 60px;
  color: #A4C2FF;
}

.tryitfree .tryitfree__row .right .button {
  max-width: 70%;
  background: #EF3959;
  -webkit-box-shadow: 0px 0px 40px rgba(239, 57, 89, 0.4);
          box-shadow: 0px 0px 40px rgba(239, 57, 89, 0.4);
  border-radius: 72px;
  -webkit-filter: drop-shadow(0 0 1px #EF3959);
          filter: drop-shadow(0 0 1px #EF3959);
  font-family: 'Inter';
  font-style: normal;
  color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 16px 32px;
  margin-top: 45px;
}

.reviews {
  margin-top: 256px;
}

.reviews .reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews .reviews__row .left {
  margin-top: 10px;
  margin-right: 128px;
  width: 50%;
}

.reviews .reviews__row .left .title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin-top: 10px;
}

.reviews .reviews__row .left .desc {
  width: 85%;
  margin-top: 32px;
  color: #0D224E;
}

.reviews .reviews__row .left .desc p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-top: 5px;
}

.reviews .reviews__row .left .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-left: 20px;
}

.reviews .reviews__row .left .buttons .button {
  width: 64px;
  height: 64px;
  border-radius: 135px;
  -webkit-box-shadow: 0px 0px 20px rgba(74, 134, 255, 0.4);
          box-shadow: 0px 0px 20px rgba(74, 134, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .reviews__row .left .buttons .button:nth-child(1) {
  margin-right: 12px;
}

.reviews .reviews__row .left .buttons .button:nth-child(2) {
  margin-left: 12px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.reviews .reviews__row .Column {
  border-left: 1px solid #4A86FF;
  max-width: 288px;
  padding: 100px 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #4A86FF;
}

.copyrights {
  margin-top: 128px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.copyrights2 {
  margin-top: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #EF3959;
}

.plan {
  margin-top: 128px;
}

.plan .plan__row .title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}

.plan .plan__row .plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 96px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plan .plan__row .plans .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 262px;
  height: 304px;
  margin-right: 56px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  border: 1px solid white;
}

.plan .plan__row .plans .table .term {
  margin-top: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.plan .plan__row .plans .table .fee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.plan .plan__row .plans .table .fee .count {
  font-size: 64px;
  margin-left: 8px;
  margin-right: 8px;
}

.plan .plan__row .plans .table .discount {
  margin-top: 30px;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.plan .plan__row .plans .table .button {
  border: 1px solid #EF3959;
  border-radius: 72px;
  background: transparent;
  margin-top: 24px;
  padding: 16px 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #EF3959;
}

.plan .plan__row .plans .table .moneyback {
  margin-top: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

.plan .plan__row .plans .table:last-child {
  margin-right: 0;
}

.plan .plan__row .plans .table:nth-child(2) {
  position: relative;
}

.plan .plan__row .plans .table:nth-child(2) .button {
  background-color: rgba(255, 255, 255, 0.4);
}

.plan .plan__row .plans .table:nth-child(2) .alert {
  position: absolute;
  padding: 8px 16px;
  background: #EF3959;
  border-radius: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: white;
  left: 160px;
  top: -40px;
}

.plan .plan__row .plans .table:nth-child(2) .alert img {
  position: absolute;
  left: 5px;
  top: 32px;
}

.FAQ {
  margin-top: 256px;
}

.FAQ .FAQ__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.FAQ .FAQ__row .left {
  width: 50%;
}

.FAQ .FAQ__row .left .title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
}

.FAQ .FAQ__row .left .questions {
  margin-top: 16px;
}

.FAQ .FAQ__row .left .questions .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  margin-top: 24px;
  width: 100%;
  border-bottom: 1px solid #A4C2FF;
}

.FAQ .FAQ__row .left .questions .question img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-right: 20px;
}

.FAQ .FAQ__row .right {
  width: 50%;
  position: relative;
}

.FAQ .FAQ__row .right .watchVideo {
  position: absolute;
  left: -82px;
  top: -140px;
}

.FAQ .FAQ__row .right .Choosetheplan {
  width: 192px;
  height: 192px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #EF3959;
  border-radius: 135px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: 365px;
  top: 115px;
}

.FAQ .FAQ__row .right .AskaQuestion {
  width: 192px;
  height: 192px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 135px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  position: absolute;
  left: 67px;
  top: 288px;
}

.footer {
  position: relative;
  overflow-y: hidden;
  padding-top: 392px;
}

.footer .blick {
  position: absolute;
  width: 593px;
  height: 512px;
  left: calc(50% - 593px/2 - 596.5px);
  top: 290px;
  background: rgba(74, 134, 255, 0.5);
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.footer .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__row .footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__row .footer__logo .logoText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

.footer .footer__row .nav {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__row .nav .navi {
  margin-left: 16px;
  margin-right: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.footer .footer__row .copyright {
  margin: 16px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.effects {
  position: relative;
}

.effects .blick {
  position: absolute;
  border-radius: 135px;
  z-index: -1;
}

.effects .blick:nth-child(1) {
  width: 770px;
  height: 617px;
  left: calc(50% - 770px/2 - 449px);
  top: 250px;
  background: rgba(74, 134, 255, 0.3);
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.effects .blick:nth-child(2) {
  width: 1000px;
  height: 927px;
  left: calc(50% - 1000px/2 + 668px);
  top: 509px;
  background: rgba(239, 57, 89, 0.4);
  -webkit-filter: blur(300px);
          filter: blur(300px);
}

.effects .blick:nth-child(3) {
  width: 800px;
  height: 800px;
  left: calc(50% - 800px/2 + 734px);
  top: 2000px;
  background: rgba(74, 134, 255, 0.3);
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.effects .blick:nth-child(4) {
  width: 300px;
  height: 300px;
  left: calc(50% - 300px/2 - 690px);
  top: 2450px;
  background: rgba(239, 57, 89, 0.8);
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.effects .blick:nth-child(5) {
  width: 1065px;
  height: 977px;
  left: calc(50% - 1065px/2 - 260.5px);
  top: 2950px;
  background: rgba(74, 134, 255, 0.5);
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.effects .blick:nth-child(6) {
  width: 872px;
  height: 704px;
  left: calc(50% - 872px/2 + 333px);
  top: 2900px;
  background: rgba(239, 57, 89, 0.4);
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.effects .blick:nth-child(7) {
  width: 367px;
  height: 380px;
  left: calc(50% - 872px/2 + 800px);
  top: 3436px;
  background: #BCACDF;
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.effects .blick:nth-child(8) {
  width: 422px;
  height: 408px;
  left: calc(50% - 422px/2 + 621px);
  top: 3779px;
  background: rgba(239, 57, 89, 0.8);
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.effects .blick:nth-child(9) {
  width: 355px;
  height: 337px;
  left: calc(50% - 355px/2 + 200.5px);
  top: 4000px;
  background: #A4C2FF;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.effects .blick:nth-child(10) {
  width: 400px;
  height: 400px;
  left: calc(50% - 400px/2 - 671px);
  top: 1326px;
  background: rgba(74, 134, 255, 0.3);
  -webkit-filter: blur(150px);
          filter: blur(150px);
}
/*# sourceMappingURL=style.css.map */