*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;pointer-events: none;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
/*------FONTS-----*/
@font-face {
    font-family: 'Inter';
    src: url(SRC/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(SRC/fonts/Roboto/);
}

/*--------------------*/
.container{
    max-width: 1120px;
    min-height: 100px;
    margin: 0 auto;
}
a{
    color: black;
}
.header{
    .header__row{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo{
            display: flex;
            align-items: center;

            .logo{
                width: 100px;
                height: 80px;
            }
            .logoText{
                font-family: 'Inter';
                font-weight: 600;
                font-size: 30px;
            }
        }
        .nav{
            display: flex;
            margin-right: 30px;
            .navi{
                margin-left: 24px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
            }
        }
    }
}
.main{
    margin-top: 120px;

    .main__row{
        display: flex;

        .left{
            margin-top: 85px;
            width: 50%;

            .title{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 58px;
            }
            .desc{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                margin-top: 60px;
            }
            .button{
                background: #EF3959;
                box-shadow: 0px 0px 40px rgba(239, 57, 89, 0.4);
                border-radius: 72px;
                filter: drop-shadow(0 0 3px #EF3959);
                font-family: 'Inter';
                font-style: normal;
                color: white;
                font-weight: 400;
                font-size: 18px;
                padding: 16px 32px;
                margin-top: 64px;
            }
        }
        .right{
            width: 50%;
            position: relative;
            padding-bottom: -500px;

            .servers{
                position: relative;
                z-index: 2;
                left: 153px;

                width: 256px;
                height: 256px;
                border-radius: 130px;
                background-color: white;
                border: 0.6px solid rgba(239, 57, 89, 0.3);
                box-shadow: 4px 4px 15px 0px rgba(239, 57, 89, 0.5);
                display: flex;
                flex-direction: column;
                align-items: center;

                *{
                    filter: drop-shadow(0 0 0 0);
                }
                p:nth-child(1){
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 58px;
                    margin-top: 64px;  
                }
                p:nth-child(2){
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 36px;
                    color: #EF3959;
                    margin-top: 7px;
                }
            }
            .save{
                position: absolute;
                left: 462px;
                top:-10px;

                width: 96px;
                height: 122px;
                background: #4A86FF;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .title{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: white;
                    margin-top: 16px;
                }
                .price{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 36px;
                    color: white;
                    margin-top: 32px;
                }
            }
            .countries{
                position: absolute;
                top: 225px;
                left: 5px;

                width: 160px;
                height: 160px;
                border-radius: 130px;
                background-color: white;
                box-shadow: -5px 7px 20px rgba(74, 134, 255, 0.3);
                display: flex;
                flex-direction: column;
                align-items: center;

                p:nth-child(1){
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 36px;
                    margin-top: 47px;
                }
                p:nth-child(2){
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #EF3959;
                    margin-top: 8px;
                }
            }
            .speed{
                position: absolute;
                z-index: 1;
                left: 300px;
                top: 145px;

                width: 256px;
                height: 256px;
                border: 1px solid #EF3959;
                border-radius: 135px;
                display: flex;
                flex-direction: column;
                align-items: center;      
                
                .desc{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px; 
                    color: #4A86FF;
                    margin-top: 16px;
                    &:nth-child(1){
                        margin-top: 72px;
                    }             
                }
                .count{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 36px;
                    margin-top: 16px;                  
                }
            }
            .guarantee{
                position: absolute;
                z-index: 2;
                left: 180px;
                top: 318px;

                display: flex;
                align-items: center;
                text-align: center;
                width: 192px;
                height: 192px;
                border-radius: 135px;
                background-color: white;
                border: 1;
                border-top: 0.6px solid rgba(164, 194, 255, 0.9);
                border-left: 0.6px solid rgba(164, 194, 255, 0.9);
                filter: drop-shadow(2px 2px 5px rgba(164, 194, 255, 1));
                p{
                    width: 100%;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    color: #4A86FF;                    
                }
            }
        }
        
    }
    .main__buttons{
        margin-top: 15px;
        display: flex;
        justify-content: center;

        .button{
            width: 64px;
            height: 64px;            
            border-radius: 135px;
            box-shadow: 0px 0px 20px rgba(74, 134, 255, 0.4);
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            &:nth-child(1){
                margin-right: 16px;
            }
            &:nth-child(2){
                margin-left: 16px;
                transform: rotate(180deg);
            }
        }
    }
}
.supportable{
    margin-top: 67px;

    .supportable__border{
        margin: 0 auto;
        max-width: 760px;
        border-radius: 34px; 
        background: rgb(74,134,255);
        background: linear-gradient(90deg, rgba(74,134,255,1) 0%, rgba(132,127,135,0) 49%, rgba(239,57,89,1) 100%);
        padding: 3px;
        .supportable__row{
            margin: 0 auto;
            display: flex;
            align-items: center;
            border-radius: 32px; 
            background-color: white;
            flex-direction: column;

            .title{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                margin-top: 33px;                
            }
            .OSs{
                margin-top: 36px;
                display: flex;
                margin-bottom: 40px;

                img{
                   margin-left: 30px;
                   
                   &:nth-child(1){
                       margin-left: 0px;
                   }
                }
            }
        }
    }
}
.privacy{
    margin-top: 120px;

    .privacy__row{
        display: flex;

        .left{
            margin-top: 85px;
            width: 50%;

            .title{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 58px;
            }
            .desc{
                margin-top: 32px;
                color: #0D224E;
                p{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    margin-top: 5px;
                }
            }
            .button{
                background: #EF3959;
                box-shadow: 0px 0px 40px rgba(239, 57, 89, 0.4);
                border-radius: 72px;
                filter: drop-shadow(0 0 1px #EF3959);
                font-family: 'Inter';
                font-style: normal;
                color: white;
                font-weight: 400;
                font-size: 18px;
                padding: 16px 32px;
                margin-top: 45px;
            }
        }
        /*.right{
            width: 50%;
            position: relative;
            padding-bottom: -500px;

            .servers{
                position: relative;
                z-index: 2;
                left: 153px;

                width: 256px;
                height: 256px;
                border-radius: 130px;
                background-color: white;
                border: 0.6px solid rgba(239, 57, 89, 0.3);
                box-shadow: 4px 4px 15px 0px rgba(239, 57, 89, 0.5);
                display: flex;
                flex-direction: column;
                align-items: center;

                *{
                    filter: drop-shadow(0 0 0 0);
                }
                p:nth-child(1){
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 58px;
                    margin-top: 64px;  
                }
                p:nth-child(2){
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 36px;
                    color: #EF3959;
                    margin-top: 7px;
                }
            }
            .save{
                position: absolute;
                left: 462px;
                top:-10px;

                width: 96px;
                height: 122px;
                background: #4A86FF;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .title{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: white;
                    margin-top: 16px;
                }
                .price{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 36px;
                    color: white;
                    margin-top: 32px;
                }
            }
            .countries{
                position: absolute;
                top: 225px;
                left: 5px;

                width: 160px;
                height: 160px;
                border-radius: 130px;
                background-color: white;
                box-shadow: -5px 7px 20px rgba(74, 134, 255, 0.3);
                display: flex;
                flex-direction: column;
                align-items: center;

                p:nth-child(1){
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 36px;
                    margin-top: 47px;
                }
                p:nth-child(2){
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #EF3959;
                    margin-top: 8px;
                }
            }
            .speed{
                position: absolute;
                z-index: 1;
                left: 300px;
                top: 145px;

                width: 256px;
                height: 256px;
                border: 1px solid #EF3959;
                border-radius: 135px;
                display: flex;
                flex-direction: column;
                align-items: center;      
                
                .desc{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px; 
                    color: #4A86FF;
                    margin-top: 16px;
                    &:nth-child(1){
                        margin-top: 72px;
                    }             
                }
                .count{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 36px;
                    margin-top: 16px;                  
                }
            }
            .guarantee{
                position: absolute;
                z-index: 2;
                left: 180px;
                top: 318px;

                display: flex;
                align-items: center;
                text-align: center;
                width: 192px;
                height: 192px;
                border-radius: 135px;
                background-color: white;
                border: 1;
                border-top: 0.6px solid rgba(164, 194, 255, 0.9);
                border-left: 0.6px solid rgba(164, 194, 255, 0.9);
                filter: drop-shadow(2px 2px 5px rgba(164, 194, 255, 1));
                p{
                    width: 100%;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    color: #4A86FF;                    
                }
            }
        }*/
        
    }
    
}
.tryitfree{
    margin-top: 100px;
}