*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;pointer-events: none;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
/*------FONTS-----*/
@font-face {
    font-family: 'Inter';
    src: url(SRC/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(SRC/fonts/Roboto/);
}

/*--------------------*/
html{
    max-width: 100vw;
    overflow-x: hidden;
}
.container{
    max-width: 1120px;
    min-height: 100px;
    margin: 0 auto;
}
a{
    color: black;
}
.header{
    .header__row{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo{
            display: flex;
            align-items: center;

            .logo{
                width: 100px;
                height: 80px;
            }
            .logoText{
                font-family: 'Inter';
                font-weight: 600;
                font-size: 30px;
            }
        }
        .nav{
            display: flex;
            margin-right: 30px;
            .navi{
                margin-left: 24px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
            }
        }
    }
}
.main{
    margin-top: 120px;

    .main__row{
        display: flex;

        .left{
            margin-top: 85px;
            width: 50%;

            .title{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 58px;
            }
            .desc{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                margin-top: 60px;
            }
            .button{
                background: #EF3959;
                box-shadow: 0px 0px 40px rgba(239, 57, 89, 0.4);
                border-radius: 72px;
                filter: drop-shadow(0 0 3px #EF3959);
                font-family: 'Inter';
                font-style: normal;
                color: white;
                font-weight: 400;
                font-size: 18px;
                padding: 16px 32px;
                margin-top: 64px;
            }
        }
        .right{
            width: 50%;
            position: relative;
            padding-bottom: -500px;

            .servers{
                position: relative;
                z-index: 2;
                left: 153px;

                width: 256px;
                height: 256px;
                border-radius: 130px;
                background-color: white;
                border: 0.6px solid rgba(239, 57, 89, 0.3);
                box-shadow: 4px 4px 15px 0px rgba(239, 57, 89, 0.5);
                display: flex;
                flex-direction: column;
                align-items: center;

                *{
                    filter: drop-shadow(0 0 0 0);
                }
                p:nth-child(1){
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 58px;
                    margin-top: 64px;  
                }
                p:nth-child(2){
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 36px;
                    color: #EF3959;
                    margin-top: 7px;
                }
            }
            .save{
                position: absolute;
                left: 462px;
                top:-10px;

                width: 96px;
                height: 122px;
                background: #4A86FF;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .title{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: white;
                    margin-top: 16px;
                }
                .price{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 36px;
                    color: white;
                    margin-top: 32px;
                }
            }
            .countries{
                position: absolute;
                top: 225px;
                left: 5px;

                width: 160px;
                height: 160px;
                border-radius: 130px;
                background-color: white;
                box-shadow: -5px 7px 20px rgba(74, 134, 255, 0.3);
                display: flex;
                flex-direction: column;
                align-items: center;

                p:nth-child(1){
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 36px;
                    margin-top: 47px;
                }
                p:nth-child(2){
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #EF3959;
                    margin-top: 8px;
                }
            }
            .speed{
                position: absolute;
                z-index: 1;
                left: 300px;
                top: 145px;

                width: 256px;
                height: 256px;
                border: 1px solid #EF3959;
                border-radius: 135px;
                display: flex;
                flex-direction: column;
                align-items: center;      
                
                .desc{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px; 
                    color: #4A86FF;
                    margin-top: 16px;
                    &:nth-child(1){
                        margin-top: 72px;
                    }             
                }
                .count{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 36px;
                    margin-top: 16px;                  
                }
            }
            .guarantee{
                position: absolute;
                z-index: 2;
                left: 180px;
                top: 318px;

                display: flex;
                align-items: center;
                text-align: center;
                width: 192px;
                height: 192px;
                border-radius: 135px;
                background-color: white;
                border: 1;
                border-top: 0.6px solid rgba(164, 194, 255, 0.9);
                border-left: 0.6px solid rgba(164, 194, 255, 0.9);
                filter: drop-shadow(2px 2px 5px rgba(164, 194, 255, 1));
                p{
                    width: 100%;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    color: #4A86FF;                    
                }
            }
        }
        
    }
    .main__buttons{
        margin-top: 15px;
        display: flex;
        justify-content: center;

        .button{
            width: 64px;
            height: 64px;            
            border-radius: 135px;
            box-shadow: 0px 0px 20px rgba(74, 134, 255, 0.4);
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            &:nth-child(1){
                margin-right: 16px;
            }
            &:nth-child(2){
                margin-left: 16px;
                transform: rotate(180deg);
            }
        }
    }
}
.supportable{
    margin-top: 67px;

    .supportable__border{
        margin: 0 auto;
        max-width: 760px;
        border-radius: 34px; 
        background: rgb(74,134,255);
        background: linear-gradient(90deg, rgba(74,134,255,1) 0%, rgba(132,127,135,0) 49%, rgba(239,57,89,1) 100%);
        padding: 3px;
        .supportable__row{
            margin: 0 auto;
            display: flex;
            align-items: center;
            border-radius: 32px; 
            background-color: white;
            flex-direction: column;
            background-color: rgba(255,255,255,0.95);
            .title{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                margin-top: 33px;                
            }
            .OSs{
                margin-top: 36px;
                display: flex;
                margin-bottom: 40px;

                img{
                   margin-left: 30px;
                   
                   &:nth-child(1){
                       margin-left: 0px;
                   }
                }
            }
        }
    }
}
.privacy{
    margin-top: 120px;

    .privacy__row{
        display: flex;

        .left{
            margin-top: 85px;
            width: 50%;

            .title{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 58px;
            }
            .desc{
                margin-top: 32px;
                color: #0D224E;
                p{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    margin-top: 5px;
                }
            }
            .button{
                background: #EF3959;
                box-shadow: 0px 0px 40px rgba(239, 57, 89, 0.4);
                border-radius: 72px;
                filter: drop-shadow(0 0 1px #EF3959);
                font-family: 'Inter';
                font-style: normal;
                color: white;
                font-weight: 400;
                font-size: 18px;
                padding: 16px 32px;
                margin-top: 45px;
            }
        }
        .right{
            position: relative;
            margin-top: 30px;

            .location, .content, .ads, .privately{
                position: absolute;
                border-radius: 135px;
                width: 160px;
                height: 160px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                padding: 5px;                
            }

            .location, .content{
                width: 192px;
                height: 192px;

            }

            .location{
                background: #A4C2FF;
                box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
                color: white;
                left: 186px;
                top: 72px;
                z-index: 1;
            }

            .content{
                background: rgba(255, 255, 255, 0.4);
                box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
                backdrop-filter: blur(7px); 
                color: #4A86FF;
                left: 75px;
                top: 200px;
                z-index: 2;           
            }

            .privately{
                background: #4A86FF;
                box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);     
                color: white;
                left: 200px;
                top: 325px;
                z-index: 1;           
            }

            .ads{
                background: rgba(255, 255, 255, 0.4);
                box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
                backdrop-filter: blur(15px);        
                color: #4A86FF;
                left: 392px;
                top: 245px;        
            }
        }
        
    }
    
}
.tryitfree{
    margin-top: 256px;

    .tryitfree__row{
        display: flex;

        .left{
            width: 50%;

            .title{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 58px;
                margin-top: 10px;
            }
            .desc{
                width: 85%;
                margin-top: 32px;
                color: #0D224E;
                p{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    margin-top: 5px;
                }
            }
        }
        .right{
            max-width: 50%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: start;
            .title{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                color: #4A86FF;                
            }
            .EMAIL{
                width: 100%;
                border-bottom: 1px solid #A4C2FF;
                font-size: 30px;
                font-family: 'Inter';
                margin-top: 60px;
                color: #A4C2FF;

                &::placeholder{
                    font-size: 30px;
                    font-family: 'Inter';
                    margin-top: 60px;
                    color: #A4C2FF;
                }
            }
            .button{
                max-width: 70%;
                background: #EF3959;
                box-shadow: 0px 0px 40px rgba(239, 57, 89, 0.4);
                border-radius: 72px;
                filter: drop-shadow(0 0 1px #EF3959);
                font-family: 'Inter';
                font-style: normal;
                color: white;
                font-weight: 400;
                font-size: 18px;
                padding: 16px 32px;
                margin-top: 45px;
            }
        }
    }
}
.reviews{
    margin-top: 256px;
    .reviews__row{
        display: flex;

        .left{
            margin-top: 10px;
            margin-right: 128px;
            width: 50%;

            .title{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 58px;
                margin-top: 10px;
            }
            .desc{
                width: 85%;
                margin-top: 32px;
                color: #0D224E;
                p{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    margin-top: 5px;
                }
            }
            .buttons{
                display: flex;
                margin-top: 50px;
                margin-left: 20px;

                .button{
                    width: 64px;
                    height: 64px;            
                    border-radius: 135px;
                    box-shadow: 0px 0px 20px rgba(74, 134, 255, 0.4);
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:nth-child(1){
                        margin-right: 12px;
                    }
                    &:nth-child(2){
                        margin-left: 12px;
                        transform: rotate(180deg);
                    }
                }
            }
    
        }
        .Column{
            border-left: 1px solid #4A86FF;
            max-width: 288px;
            padding: 100px 16px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #4A86FF;            
        }
    }
}
.copyrights{
    margin-top: 128px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

}
.copyrights2{
    margin-top: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #EF3959;
}
.plan{
    margin-top: 128px;

    .plan__row{
        
        .title{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 58px;            
        }
        .plans{
            display: flex;
            margin-top: 96px;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;

            .table{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 262px;
                height: 304px;
                margin-right: 56px;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 8px;                
                
                .term{
                    margin-top: 16px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    color: white;                    
                }
                .fee{
                    display: flex;
                    margin-top: 70px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    color: white;                    

                    .count{
                        font-size: 64px;
                        margin-left: 8px;
                        margin-right: 8px;
                    }
                }
                .discount{
                    margin-top: 30px;
                    color: white;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;  
                    text-decoration-line: line-through;
                  
                }
                .button{
                    border: 1px solid #EF3959;
                    border-radius: 72px;                    
                    background: transparent;
                    margin-top: 24px;
                    padding: 16px 32px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #EF3959;                    
                }
                .moneyback{
                    margin-top: 24px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: white;                    
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}
.FAQ{
    margin-top: 256px;
    .FAQ__row{
        display: flex;

        .left{
            width: 50%;

            .title{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 58px;                
            }
            .questions{
                margin-top: 16px;
                .question{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 36px;        
                    margin-top: 24px;
                    width: 100%;
                    border-bottom: 1px solid #A4C2FF;            
                }
            }
        }
        .right{
            width: 50%;
            position: relative;

            .watchVideo{
                position: absolute;
                left: -82px;
                top: -140px;
            }
            .Choosetheplan{
                width: 192px;
                height: 192px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #EF3959;
                border-radius: 135px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                text-align: center;
                color: #FFFFFF;    
                position: absolute;
                left: 365px;
                top: 115px;            
            }
            .AskaQuestion{
                width: 192px;
                height: 192px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(255, 255, 255, 0.4);
                border-radius: 135px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                text-align: center;
                position: absolute;
                left: 67px;
                top: 288px;                
            }
        }
    }
}
.footer{
    position: relative;
    overflow-y: hidden;
    padding-top: 392px;
    .blick{
        position: absolute;
        width: 593px;
        height: 512px;
        left: calc(50% - 593px/2 - 596.5px);
        top: 290px;
        background: rgba(74, 134, 255, 0.5);
        filter: blur(150px);    
    }
    .footer__row{
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer__logo{
            display: flex;
            align-items: center;

            .logoText{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 36px;                
            }
        }
        .nav{
            margin-top: 16px;
            display: flex;

            .navi{
                margin-left: 16px;
                margin-right: 16px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;                
            }

        }
        .copyright{
            margin: 16px 0;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;
            color: rgba(0, 0, 0, 0.6);            
        }
    }
}
.effects{
    position: relative;

    .blick{
        position: absolute;
        border-radius: 135px;  
        z-index: -1;   

        &:nth-child(1){
            width: 770px;
            height: 617px;
            left: calc(50% - 770px/2 - 449px);
            top: 181px;
            background: rgba(74, 134, 255, 0.3); 
            filter: blur(150px);
        }
        &:nth-child(2){
            width: 1000px;
            height: 927px;
            left: calc(50% - 1000px/2 + 668px);
            top: 509px;
            background: rgba(239, 57, 89, 0.4);
            filter: blur(300px);            
        }
        &:nth-child(3){
            width: 800px;
            height: 800px;
            left: calc(50% - 800px/2 + 734px);
            top: 2000px;
            background: rgba(74, 134, 255, 0.3);
            filter: blur(100px);            
        }
        &:nth-child(4){
            width: 300px;
            height: 300px;
            left: calc(50% - 300px/2 - 690px);
            top: 2450px;
            background: rgba(239, 57, 89, 0.8);
            filter: blur(150px);            
        }
        &:nth-child(5){
            width: 1065px;
            height: 977px;
            left: calc(50% - 1065px/2 - 260.5px);
            top: 2950px;
            background: rgba(74, 134, 255, 0.5);
            filter: blur(150px);       
        }
        &:nth-child(6){
            width: 872px;
            height: 704px;
            left: calc(50% - 872px/2 + 333px);
            top: 2900px;
            background: rgba(239, 57, 89, 0.4);
            filter: blur(150px);            
        }
        &:nth-child(7){
            width: 367px;
            height: 380px;
            left: calc(50% - 872px/2 + 800px);
            top: 3436px;
            background: #BCACDF;
            filter: blur(150px);            
        }
        &:nth-child(8){
            width: 422px;
            height: 408px;
            left: calc(50% - 422px/2 + 621px);
            top: 3779px;
            background: rgba(239, 57, 89, 0.8);
            filter: blur(150px);            
        }
        &:nth-child(9){
            width: 355px;
            height: 337px;
            left: calc(50% - 355px/2 + 200.5px);
            top: 4000px;
            background: #A4C2FF;
            filter: blur(100px);            
        }
        &:nth-child(10){
            width: 400px;
            height: 400px;
            left: calc(50% - 400px/2 - 671px);
            top: 1326px;
            background: rgba(74, 134, 255, 0.3);
            filter: blur(150px);            
        }
    }
}